langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.38
langchain-google-genai==2.0.0
langchain-experimental==0.0.56
google-generativeai
pandas
tavily-python
python-dotenv
wikipedia
tabulate
fastapi
faiss-cpu

